@import url('https://fonts.googleapis.com/css?family=Audiowide');

.header {
    color: white;
    background-color: #094241;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.close, .close:hover, .close:focus, .close:active {
    margin-top: -6px;
    color: white;
    outline: none;
}

.close {
    opacity: 0.5;
}

.close:hover, .close:focus, .close:active {
    opacity: 1;
}

.logo {
    margin-right: 0.5rem;
}

.navbar-brand, .navbar-brand:hover {
    color: white;
    font-family: 'Audiowide', cursive;
    font-weight: normal;
}
