.group-title {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-anchor {
    color: black;
    padding: 0 0.5rem;
}

.nav-anchor:hover:not(.disabled) {
    color: rgb(0, 120, 125);
}
