@import url('https://fonts.googleapis.com/css?family=Audiowide');

.header {
    color: white;
    background-color: #094241;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.toolbar-icon, .toolbar-icon:hover, .toolbar-icon:focus, .toolbar-icon:active {
    color: white;
    margin-right: 0.8rem;
}

.toolbar-icon {
    opacity: 0.5;
}

.toolbar-icon:hover, .toolbar-icon:focus, .toolbar-icon:active {
    opacity: 1;
}

.logo {
    margin-right: 0.5rem;
}

.navbar-brand, .navbar-brand:hover {
    color: white;
    font-weight: normal;
}

.navbar-brand .title {
    font-family: 'Audiowide', cursive;
    margin-right: 0.5rem;
}

.version {
    font-size: 10pt;
    position: relative;
    bottom: -0.3rem;
}
